In [1]:
# imports

import pandas
import re
import nltk
import collections
import datetime

In [6]:
df=pandas.read_csv("https://raw.githubusercontent.com/asanders18/analytics/master/data/example.csv") # can also read locally

In [7]:
df.head(10)

,URL,Keyword,Search Volume,Rank
0,https://www.example.com/shape/square,four sides,634,5
1,https://www.example.com/shape/circle,round,598,2
2,https://www.example.com/color/blue,sky blue,850,3
3,https://www.example.com/color/blue,navy blue,496,5
4,https://www.example.com/color/blue,blue,260,8
5,https://www.example.com/color/green,verdant,237,3
6,https://www.example.com/color,colors of rainbow,444,1
7,https://www.example.com/color/blue,blue eyes,440,9
8,https://www.example.com/color/blue,classic blue,741,9
9,https://www.example.com/color/purple,violet,116,4

In [8]:
# Site sections overview

def isSiteSection(url):
    if "https://www.example.com/" == url:
        return "Homepage"   
    elif "/color" in url:
        return "Colors"    
    elif "/shape" in url:
        return "Shapes"
    else: 
        return "Null"
    

#Iterate through the df by URL
df["Sections"]=df["URL"].apply(lambda x: isSiteSection(x))

# Checking our data (printing first 5 rows)
df.head(5)

,URL,Keyword,Search Volume,Rank,Sections
0,https://www.example.com/shape/square,four sides,634,5,Shapes
1,https://www.example.com/shape/circle,round,598,2,Shapes
2,https://www.example.com/color/blue,sky blue,850,3,Colors
3,https://www.example.com/color/blue,navy blue,496,5,Colors
4,https://www.example.com/color/blue,blue,260,8,Colors

In [10]:
# if you want to use regex

df["Blue"] = site["URL"].apply(lambda x : re.findall(r'\/blue', x)) # can use regex

# print all of df
df

,URL,Keyword,Search Volume,Rank,Sections,Blue
0,https://www.example.com/shape/square,four sides,634,5,Shapes,[]
1,https://www.example.com/shape/circle,round,598,2,Shapes,[]
2,https://www.example.com/color/blue,sky blue,850,3,Colors,[/blue]
3,https://www.example.com/color/blue,navy blue,496,5,Colors,[/blue]
4,https://www.example.com/color/blue,blue,260,8,Colors,[/blue]
5,https://www.example.com/color/green,verdant,237,3,Colors,[]
6,https://www.example.com/color,colors of rainbow,444,1,Colors,[]
7,https://www.example.com/color/blue,blue eyes,440,9,Colors,[/blue]
8,https://www.example.com/color/blue,classic blue,741,9,Colors,[/blue]
9,https://www.example.com/color/purple,violet,116,4,Colors,[]
10,https://www.example.com/color/black,noir,921,1,Colors,[]
11,https://www.example.com/color/blue,aoi,847,6,Colors,[/blue]

In [14]:
# print to .csv called "categorized_colors.csv"
df.to_csv(r"categorized_colors.csv")

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<br><br><br><br><br><br><br>